button{
    width:200px;
    height:100px;
    padding:15px 0;
    text-align:center;
    margin:20px 10px;
    border-radius:25px;
    font-weight:bold;
    border:5px solid rgb(255, 0, 55);
    background:rgb(139, 170, 154);
    color:black;
    cursor:pointer;
    position: relative;
    overflow: hidden;
  }
  span{
    background: rgb(0, 255, 51);
    height:100%;
    width:20;
    border-radius:25px;
    position:absolute;
    left:10;
    bottom:10;
    z-index: -1;
    transition: 0.5s;
  }
  button:hover span{
    width:100%;
  }
  button:hover{
    border:none;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .button-container{
    margin-left: 200px;
  }
  #logout{
    margin-left: 1000px;
    height:50px;
  }