<!DOCTYPE html>
<html>

<body [ngStyle]="{'background' : 'url(../../assets/bg7.jpg)','background-repeat': 'no-repeat','background-size':'cover','background-attachment':'fixed'}">
  <div class="container">
    <form>
      <h1>Registration Form</h1>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"  [(ngModel)]="user.name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"  [(ngModel)]="user.email" required>
      </div>
      <div class="form-group">
        <label for="phone number">phone number:</label>
        <input type="tel" id="phone number" name="phone number"  [(ngModel)]="user.pno" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"  [(ngModel)]="user.password" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password"  [(ngModel)]="user.cpassword" required>
      </div>
      <div class="form-group">
        <button (click)="saveuser()">Register</button>
      </div>
    </form>
  </div>
</body>
</html>
